@page
@model KhumaloCraftEmporium_ST10265272.Pages.Login.LoginPageModel
@{
}
<h2>Login</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<br/>
<p>Admin login: admin@khumalocraftempo.co.za  Password:Abmnormalize2000 </p>
