<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e31273bf-0dae-4395-a8b5-33f801de7c65/resourcegroups/AZ-JHB-RSG-VCGPSD-ST10265272-TER/providers/Microsoft.Web/sites/KhumaloCraftEmporiumST10265272</ResourceId>
    <ResourceGroup>AZ-JHB-RSG-VCGPSD-ST10265272-TER</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://khumalocraftemporiumst10265272.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f5ee598a-488d-4769-a5e3-199f26af9d6f</ProjectGuid>
    <MSDeployServiceURL>khumalocraftemporiumst10265272.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KhumaloCraftEmporiumST10265272</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$KhumaloCraftEmporiumST10265272</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>