@page
@model KhumaloCraftEmporium_ST10265272.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<body>

    <div class ="section">
        <div class="about-container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us </h1>
                </div>
                    <div class="content">
                    <p>Welcome to KhumaloCraft Emporium, your premier destination for handcrafted treasures from artisans around the globe. Founded by visionary entrepreneur James Khumalo,
                       our platform aims to bridge the gap between talented artisans and discerning customers seeking unique, authentic products with a story.


                    <h3>What We Offer </h3>
                   
                        At KhumaloCraft Emporium, you'll discover a treasure trove of handcrafted goods, each meticulously crafted with love and attention to detail. Whether you're searching for a statement piece to adorn your home or a meaningful gift for a loved one, our curated collection has something for every taste and occasion.
                        Browse through our categories to explore a world of artisanal excellence:

                        <ul >

                        <li>Jewelry: Adorn yourself with stunning jewelry handcrafted by skilled artisans using traditional techniques and ethically sourced materials.  </li>

                        <li>Home Decor: Transform your living space with our exquisite collection of home decor items, including handwoven textiles, intricately carved sculptures, and vibrant ceramics. </li>

                        <li>Fashion Accessories: Elevate your style with our range of fashion accessories, from handwoven scarves and leather bags to unique statement pieces that reflect your individuality.  </li>

                        <li>Gifts: Show your appreciation with a thoughtful gift from KhumaloCraft Emporium. Choose from a curated selection of handcrafted treasures that are sure to delight and inspire.  </li>

                        </ul>
                   

                    <h3>Join Us on Our Journey </h3>
                    
                        Join us on our journey to celebrate the beauty of handmade craftsmanship and support talented artisans worldwide. Whether you're a seasoned collector or a first-time shopper, we invite you to explore our collection and discover the magic of KhumaloCraft Emporium. 
                        Thank you for supporting independent artisans and for choosing to make a difference with every purchase.

                    </p>
                
                    </div>
            </div>
            <div class="image-section">
                <figure>
                    <img src="~/img/black-businessman-with-beard-on-phone.jpg" />
                    
                    <figcaption>James Khumalo, CEO</figcaption>
                </figure>
                
            </div>
        </div>

    </div>
  
</body>