@page
@model KhumaloCraftEmporium_ST10265272.Pages.AdminModel
@{
}

<head>
    <link rel=" stylesheet" href="Styles.css" />


</head>


<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars" id="okbutton"></i>
        <i class="fa fa-times" id="cancelbutton"></i>
    </label>

    <div class="sidebar">
        <header>KhumaloCraft Admin</header>
        <ul>
            <li><a href="#"><i class="fa-brands fa-product-hunt"></i>Products</a></li>
            <li><a href="/ProductInfo/Categories"><i class="fa fa-envelope "></i>Categories</a></li>
            <li><a href="/Availability/ProdAvailability">Availability</a></li>
            <li><a href="#"><i class="fa fa-sliders"></i>Users</a></li>
            <li><a href="#"><i class="fa fa-sliders"></i>Contacts</a></li>

        </ul>
    </div>


</body>