@page
@model KhumaloCraftEmporium_ST10265272.Pages.ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}

<body>
    <div id="container">
        <h1>Contact Us</h1>
        <p>We'd love to hear your feedback. Please feel free to contact us!</p>
    </div>

    <div class="contact-box"> 
        <div class="contact-left">
            <h3>Please send your request</h3>
            <form>
                <div class="input-row">
                    <div class="input-group">
                        <label>Name</label>
                        <input type="text" placeholder="Diamond is not Crash" />
                    </div>
                    <div class="input-group">
                        <label>E-mail</label>
                        <input type="email" placeholder="DiamondisnotCrash@hmail.com" />

                    </div>

                    </div>

                    <div class="input-row">

                        <div class="input-group">
                            <label>Phone Number </label>
                            <input type="text" placeholder=" +27 XX XXX XXXX" />
                        </div>

                        <div class="input-group">
                            <label>Subject </label>
                            <input type="text" placeholder="What do you wanna talk to us about?" />

                        </div>

                        </div>
                <label>Message</label>
                <textarea rows="10" placeholder="What's on your mind?"> </textarea>

                <button type="submit"> Submit </button>

            </form>
        </div>
        <div class="contact-right">
            <h3> Reach Us</h3>

            <table>
                 <tr>
                     <td>Email</td>
                     <td>helpdesk@khumalocraft.co.za</td>
                 </tr>
                 <tr>
                     <td>Phone</td>
                     <td>+27 11 453 7643</td>
                 </tr>
                 <tr>
                     <td>Address</td>
                     <td>234 Belwood Drive, The Builded Building 5th Floor,<br />
                       Sandtonio, South Africa
                     </td>
                 </tr>
            </table>
        </div>
    </div>

</body>