@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body>
    
    <section id="hero">
        <div class= "hero container">
            <div>
                <h4>Welcome to <b><i>Khumalo Craft Emporium</i></b></h4>
                <h2>Uniting our community of crafting connoisseurs</h2>
                <h1>Purchase arts and crafts products</h1>
                <a href="/MyWork2">
                <button> Shop now</button>
                </a>
            </div>

        </div>
       
        
    </section>

</body>


