@page
@model KhumaloCraftEmporium_ST10265272.Pages.MyWorkModel
@{
    ViewData["Title"] = "My Work";
}

<body>
 <section id="work">
     <div class="work-container">
       <div class="work-header">
                <h1 class="section-title"> KhumaloCraft Or<span>igi</span>nals </h1>
       </div>
       <div class="all-work">

           <div class="work-item">
               <div class="work-info">
                   <h1>African Salad Bowl </h1>
                   <h2>Price: R200</h2>
                   <p>A bowl crafted with clay found along the Limpopo River.</p>
                     <button class="buy"> Buy now</button>
               </div>
        <div class="work-img">
                        <center><img src="~/img/african-pottery-salad-bowl.jpg" width="320" height="330" /></center>
             </div>
           </div>

                <div class="work-item">
                    <div class="work-info">
                        <h1>Phemelele Lisa</h1>
                        <h2>Price: R1,500</h2>
                        <p>A painting that took months to create, putting an African spin on the famous 'Mona Lisa' painting.</p>
                        <button class="buy"> Buy now</button>
                    </div>
                    <div class="work-img">
                        <center> <img src="~/img/mona-lisa.jpg" width="320" height="360" /></center>
                    </div>
                </div>

                <div class="work-item">
                    <div class="work-info">
                        <h1>Wire-made Crafts </h1>
                        <h2>Price: R300</h2>
                        <p>An assortment of wire-made decor.</p>
                        <button class="buy"> Buy now</button>
                    </div>
                    <div class="work-img">
                        <center><img src="~/img/beadwork_wire_art_and_crafts_(23).jpg" width="320" height="325" /></center>
                    </div>
                </div>

                <div class="work-item">
                    <div class="work-info">
                        <h1>J. Khumalo Drum Set</h1>
                        <h2>Price: R,1500</h2>
                        <p>Carved from sustainable solid African cedar wood the Atlas Djembe is an impressive and loud instrument.</p>
                        <button class="buy"> Buy now</button>
                    </div>
                    <div class="work-img">
                        <center><img src="~/img/seven-piece-african-drum-set.jpg" width="330" height="350" /></center>
                    </div>
                </div>

                <div class="work-item">
                    <div class="work-info">
                        <h1>Oppression of the Piercer </h1>
                        <h2>Price: R10,000</h2>
                        <p>A painting depicting a country's former leader. Great for your living room. </p>
                        <button class="buy"> Buy now</button>
                    </div>
                    <div class="work-img">
                        <center><img src="~/img/zuma.jpg" width="350" height="350" /></center>
                    </div>
                </div>

                <div class="work-item">
                    <div class="work-info">
                        <h1>Physical Repeller </h1>
                        <h2>Price: R2,500 </h2>
                        <p>If you've played any Shin Megami Tensei or Persona games, you know what this mf does.</p>
                        <button class="buy"> Buy now</button>
                    </div>
                    <div class="work-img">
                        <center><img src="~/img/f9g1po2agaaynj4.jpg" width="350" height="360" /></center>
                    </div>
                </div>
       </div>
 </div>
 </section>
</body>

