#heroSongofHope {
    background-image: url('khumalocraftemporium_st10265272\pages\hand-drawn-africa-day-background_23-2149348217.jpg');
}
html, body, form {
    height: 100%;
}
*{
margin:0;
padding:0;
list-style:none;
text-decoration:none;
}

.sidebar {
    position: absolute;
    float: left;
    left: 0px;
    top: 67px;
    width: 225px;
    height: 100%;
    background: grey;
}

.sidebar header{
    font-size: 23px;
    color: white;
    text-align:center;
    line-height:72px;
    background: black;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 100px;
    font-size: 20px;
    color: white;
    padding-left: 50px;
    transition: .5s;
    text-decoration: none;
}

ul li:hover a {
    padding-left: 60px;
}

.sidebar ul a li{
    margin-left:18px;
}

#check {
    display: none;


}

label #okbutton, label #cancelbutton{
    position: absolute;
    cursor: pointer;
    background: grey;

}

.wrapper {
    display: grid;
    grid-template-rows: 1fr auto; 
    min-height: 100vh;
}


.footer {
    background-color: #f1f1f1; 
    text-align: center;
    padding: 10px;
  
}

